.profile {
  grid-area: profile;
  padding: 2rem;
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.person-name {
  font-size: 7rem;
  text-align: right;
  transition: 0.5s
}

.person-name:hover {
  color: rgb(100, 255, 255);
  text-shadow: 2px 2px 20px rgba(0, 150, 200);
  transform: rotate(1deg) scale(1.02);
  transform-origin: right bottom;
}

.profile-photo {
  width: 30%;
  height: 100%;
  border: 8px solid rgb(100, 255, 255);
  border-radius: 20px;
}

.control {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.posts-subtitle {
  font-size: 3rem;
  margin: 5vh 2rem;
  text-align: right;
}

.container {
  overflow: auto;
}

.control-input {
  appearance: none;
  background-color: #555;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid rgb(100, 255, 255);
  width: 40%;
  height: 8vh;
  box-shadow: none;
  color: white;
  font-size: 1.8rem;
  padding: 0 0.5rem;
  font-family: system-ui;
  transition: 0.5s;
  text-align: center;
}

.control-input:focus {
  outline: none;
  transform: rotate(2deg) scale(1.1);
  transform-origin: right bottom;
}

.control-input::placeholder {
  font-size: 2rem;
  color: white;
}

.control-button {
  border-radius: 5;
  border: none;
  box-shadow: none;
  background-color: #777;
  padding: 1.2rem;
  color: white;
  transition: 0.5s;
  font-size: 2rem;
}

.control-button:hover {
  color: aqua;
  text-shadow: 2px 2px 50px rgba(0, 150, 200);
  transform: rotate(3deg) scale(1.1);
  transform-origin: right bottom;
}

.public {
  padding: 2rem;
}

.post {
  background-color: #555;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin: 3vh auto;
}

.userName {
  display: flex;
  display: flex;
  flex-direction: column;
}

.user-name-photo {
  height: 12vh;
}

.user-name-name {
  font-size: 3rem;
}

.post-text {
  font-size: 2rem;
  font-weight: 400;
}
