.wrapper {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "header header"
    "nav-bar profile";
  grid-gap: 10px;
  grid-template-columns: 3fr 10fr;
  grid-template-rows: 2fr 10fr;
}

.wrapper > div {
  background-color: #333;
  border-radius: 25px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.header-logo {
  max-height: 12vh;
  width: auto;
  transition: 0.5s;
}

.header-logo:hover {
  transform: rotate(90deg);
}

