* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ddd;
  padding: 1rem;
  height: 100vh;
  color: white;
}

a {
  cursor: pointer;
}

#root {
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "header header"
    "nav-bar profile";
  grid-gap: 10px;
  grid-template-columns: 3fr 10fr;
  grid-template-rows: 2fr 10fr;
}

.wrapper > div {
  background-color: #333;
  border-radius: 25px;
}

.header {
  grid-area: header;

}

.nav-bar {
  grid-area: nav-bar;
}

.profile {
  grid-area: profile;
}

.links a {
  text-align: right;
  transition: 0.5s;
}

.links a:hover {
  color: aqua;
  text-shadow: 2px 2px 50px rgba(0, 150, 200);
  transform: rotate(4deg) scale(1.07);
  transform-origin: right bottom;
}

.links {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem;
  height: 50%;
  margin-top: 5vh;
}
