* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ddd;
  padding: 1rem;
  height: 100vh;
  color: white;
}

a {
  cursor: pointer;
}

#root {
  height: 100%;
}
